.landingPageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2vw;
}
.icon {
    height: 33px; 
    background: red;
}
.phoneNumber {
    border: solid 1px black;
}

.iconBars {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border: solid 1px black;
}