.heroPageWrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: solid 1px #63FFEA;
    align-items: center;
  }
.firstStepsWrapper {
    border: solid 2px blue;
}
.signUpWrapper {
  border: solid 1px yellow;
}